@import url(dashboard.css);
@import url('https://fonts.googleapis.com/css2?family=REM:wght@300&family=Ubuntu&display=swap');


:root {
    --text-color: #ddd;
    --save-btn-color: #FF8811; 
    --delete-btn-color: #C41E3D;
}

a {
    text-decoration: none;
    color: var(--text-color);
}


body {
    background-color: #000;
    overflow-x: hidden;
}

.app-main {
    background-color: #000;
    margin-left: 20px;
    


}

.header {
    color: var(--text-color);
    font-family: inherit;
    margin-bottom: 50px;
    margin-left: 20px;
}

.pfp-icon {
    width: 100px;
    height: auto;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    margin-left: 15px;
}

.email {
    position: relative;
    color: var(--text-color);
    float: right;
    margin-right: 50px;
}

.email a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

.subheader {
    color: var(--text-color);
    font-size: 1.3em;
    margin-left: 20px;
}

.input-headers {
    color: var(--text-color);
}

p {
    color: var(--text-color);
    font-size: 14px;
    max-width: 900px;
}

h6 {
    color: var(--text-color);
    font-size: 16px;
}

ul li {
    color: var(--text-color);
    font-size: 14px;
    list-style: circle;
}

.p-input {
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.personal-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
}

.personal-inputs div {
    margin-right: 50px;
}

.personal-inputs div:last-child{
    margin-right: 0;
}

.biography {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 20px;
}

#biography {
    padding: 10px;
    width: 850px;
    border-radius: 5px;
}

.save-div {
    margin-left: 20px;
}

.save-btn {
    background-color: var(--save-btn-color);
    padding: 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #ddd;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 30px;
}

.delete p {
    margin-left: 20px;
}

.pfp {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.app-left {
    flex-basis: 240px;
    min-width: 200px;
    padding: 24px 0;
    
}

.pfp button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    align-self: center;
    margin-left: 30px;
    background-color: var(--save-btn-color);
    font-weight: bolder;
    color: var(--text-color);
}

.s-input {
    padding: 5px;
    border:none;
    border-radius: 5px;
    margin-right: 20px;
    width: 300px;
}

.pw-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 20px;
}

.delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-weight: bold;
    padding: 20px;
    background-color: var(--delete-btn-color);
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
}

