@import url('https://fonts.googleapis.com/css2?family=REM:wght@300&family=Ubuntu&display=swap');


:root {
	/* COLORS */
	
	--gray: #333;
	--blue: #0367a6;
	--lightblue: #008997;

	/* RADII */
	--button-radius: 0.7rem;

	font-size: 16px;
	font-family: Samsung Sharp Sans;
}

body {
	background-color: var(--white);
	background: black;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
	overflow: hidden;
}

.form__title {
	font-weight: 300;
	margin: 0;
	margin-bottom: 1.25rem;
}

.link {
	color: white;
	font-size: 0.9rem;
	margin: 1.5rem 0;
	text-decoration: none;
}

.container {
	background-color: var(--white);
	border-radius: var(--button-radius);
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
	height: var(--max-height);
	max-width: var(--max-width);
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.container__form {
	height: 100%;
	position: absolute;
	top: 0;
	transition: all 0.6s ease-in-out;
}

.container--signin {
	left: 0;
	width: 50%;
	z-index: 4;
}

.container.right-panel-active .container--signin {
	transform: translateX(100%);
}

.container--signup {
	left: 0;
	opacity: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .container--signup {
	animation: show 0.6s;
	opacity: 5;
	transform: translateX(100%);
	z-index: 5;
}

.container.right-panel-active .container--signin {
	display: none;
}

.container__overlay {
	height: 100%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: transform 0.6s ease-in-out;
	width: 50%;
	z-index: 100;
}

.container.right-panel-active .container__overlay {
	transform: translateX(-100%);
}

.overlay {
	background-color: var(--lightblue);
	background: black;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: -100%;
	position: relative;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 200%;
}

.container.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay__panel {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	position: absolute;
	text-align: center;
	top: 0;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 50%;
}

.overlay--left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay--left {
	transform: translateX(0);
}

.overlay--right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay--right {
	transform: translateX(20%);
}

.btn {
	background-color: white;
	background-image: linear-gradient(90deg, var(--grey) 0%, var(--lightgrey) 74%);
	border-radius: 20px;
	border: 1px solid var(--gray);
	color: rgb(40, 40, 40);
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	padding: 0.9rem 4rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.form > .btn {
	margin-top: 1.5rem;
}

.btn:active {
	transform: scale(0.95);
}

.btn:focus {
	outline: none;
}

.form {
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 3rem;
	height: 100%;
	text-align: center;
}

.input {
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin: 0.5rem 0;
	width: 100%;
    border-radius: 8px;
}

@keyframes show {
	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

.bg-animation {
	position: relative;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	margin:0;
	padding:0;
}

.container1 {
	width: 100%;
	height: 100%; /* Imposta la larghezza del contenitore principale al 100% della larghezza della pagina */
}
/* Stile per la colonna sinistra */
.left-column {
	width: 50%;
	height: 100%; /* Imposta la larghezza desiderata per la colonna sinistra */
	float: left;
	background-color: #000;
	display: flex;
	justify-content: center;
	transform: scale(1.1);
}

/* Stile per la colonna destra */
.right-column {
	width: 50%;
	height: 100%; /* Imposta la larghezza desiderata per la colonna destra */
	float: left; /* Allinea a sinistra */
}

h1{
	color: white;
	text-align: center;
	position: relative;
	top: 25%;
	z-index: 101;
}

.header-logo{
	font-family: Cormorant;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 450px;
	margin: 0 auto;
	z-index: 101;
	margin-top: -350px;
}  

.header-logo h1 {
	color: #fff;
	font-weight: 100;
	font-family: Cormorant;
	font-size: 55px;
	cursor:default;
}

.logo-div {
	width: 180px;
	height: 180px;
	border-radius: 50%;
}
  
.logo {
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 50%;
	margin-top: 20px;
}
  
.header-logo span {
	color: #f2994a;
}



.footer {
	z-index: 100;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: transparent;
	text-align: center;
	color: white;
	font-size: 10px;
  }
  
  .footer a{
	color: white;
	text-decoration: none;
  }

@media screen and (max-width: 425px) {
	body {
		width: 100%;
		margin: 0;
		padding: 0;
	}

    .container1 {
        flex-direction: column;
		max-width: 100%;
		overflow: hidden;
    }

    .left-column {
        width: 100vw;
        height: 20%; /* Imposta l'altezza fissa al 30% dell'altezza della viewport */
    }

    .right-column {
        width: 100vw;
        height: 70vh; /* Imposta l'altezza rimanente (70% dell'altezza della viewport) */
    }

    .left-column {
        order: 2; /* Change the order to 2 (moves it below) */
    }

    .right-column {
        order: 1; /* Change the order to 1 (moves it above) */
    }

    .header-logo {
        margin-top: 30px; /* Aggiungi spazio sopra la parte superiore */
    }

    /* Rimpicciolisci il testo e il logo */
    .header-logo h1 {
        font-size: 30px; /* Imposta la dimensione del carattere desiderata */
        word-wrap: break-word; /* Abilita il word-wrap per far andare a capo "Business" */
        margin-top: 0; /* Rimuovi il margine superiore */
    }

	.header-logo {
		width: 100%;
		transform: scale(0.9);
	}

    .logo-div {
        width: 150px; /* Imposta la larghezza del logo desiderata */
        height: 150px; /* Imposta l'altezza del logo desiderata */
		margin: 0 auto;
    }

    /* Aggiungi spazio tra "LOGIN / REGISTER" e il contenuto sottostante */
    .right-column h1 {
        margin-bottom: 20px; /* Imposta il margine inferiore desiderato */
    }

	.input {
		background-color: #fff;
		border: none;
		padding: 0.9rem 0.9rem;
		margin: 0.5rem 0;
		width: 60%;
		border-radius: 8px;
	}

	.btn{
		width: 65%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.footer {
		font-size: 50%;
	}

}


@media screen and (min-width: 425px) and (max-width: 768px) {

	body {
		width: 100%;
		margin: 0;
		padding: 0;
	}

    .container1 {
        flex-direction: column;
		max-width: 100%;
		overflow: hidden;
    }

    .left-column {
        width: 100vw;
        height: 20%; /* Imposta l'altezza fissa al 30% dell'altezza della viewport */
    }

    .right-column {
        width: 100vw;
        height: 70vh; /* Imposta l'altezza rimanente (70% dell'altezza della viewport) */
    }

    .left-column {
        order: 2; /* Change the order to 2 (moves it below) */
    }

    .right-column {
        order: 1; /* Change the order to 1 (moves it above) */
    }

    .header-logo {
        margin-top: 30px; /* Aggiungi spazio sopra la parte superiore */
    }

    /* Rimpicciolisci il testo e il logo */
    .header-logo h1 {
        font-size: 30px; /* Imposta la dimensione del carattere desiderata */
        word-wrap: break-word; /* Abilita il word-wrap per far andare a capo "Business" */
        margin-top: 0; /* Rimuovi il margine superiore */
    }

	.header-logo {
		width: 100%;
		
	}

    .logo-div {
        width: 150px; /* Imposta la larghezza del logo desiderata */
        height: 150px; /* Imposta l'altezza del logo desiderata */
		margin: 0 auto;
    }

    /* Aggiungi spazio tra "LOGIN / REGISTER" e il contenuto sottostante */
    .right-column h1 {
        margin-bottom: 20px; /* Imposta il margine inferiore desiderato */
    }

	.input {
		background-color: #fff;
		border: none;
		padding: 0.9rem 0.9rem;
		margin: 0.5rem 0;
		width: 60%;
		border-radius: 8px;
	}

	.btn{
		width: 65%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.footer {
		font-size: 50%;
	}

}
