@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000;
    --text-color: #eee;
    --btn-color: #FF8811;
}

/* .search-input::-webkit-search-cancel-button {
    color: white;
} */

.header {
    text-align: center;
    font-size: 50px;
    font-weight: 1000;
    margin-bottom: 90px;
}

html {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.seller-list {
    width: 80%;

}

.filter-list {
    width: 20%;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.bsn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 50%;
}

.name {
    text-shadow: 2px 4px 0px 0px ;
    font-size: 24px;
}

.seller{
    margin: 20px;

}

.logo-img {
    background-color: #fff;
    border-radius: 30%;
    border: none;
    width: 150px;  
}

.information {
    font-size: 14px;
    
}